<%# If the user isn't set, then the token wasn't valid.  Show an error %>

<h1>Show Page</h1>

<%= if @live_action in [:edit] do %>
  <%= live_modal MalanWeb.PageLive.FormComponent,
    id: @id,
    title: @title,
    action: @live_action,
    page: @page %>
<% end %>

<ul>
  <li>Item one</li>
  <li>Item two</li>
</ul>
