@import "tailwindcss";
@config "../tailwind.config.js";
@source "./js/**/*.{js,ts}";
@source "../lib/*_web/**/*.*ex";

/* Custom Components */
@import "./components/alerts.css";
@import "./components/buttons.css";
@import "./components/form.css";
@import "./components/modal.css";
@import "./components/transitions.css";




/* This file is for your main application CSS */

/*
 * @tailwind base;
 * @tailwind components;
 * @tailwind utilities;
 */

/*
  * Example of tailwinds @apply directive:
  * https://tailwindcss.com/docs/extracting-components#extracting-component-classes-with-apply
  * https://tailwindcss.com/docs/reusing-styles#extracting-classes-with-apply
  *
  * From:  https://pragmaticstudio.com/tutorials/adding-tailwind-css-to-phoenix
  * "Using Custom Component Classes"
  *
  * If going to use many of these, will probably want them in separate files.
  * Tailwind CSS v4 handles @import natively, so you can organize components like:
  *
  * @import "./components/buttons.css"
  */
