<div>
  <p>
    Welcome to Malan, {@user.first_name}!
  </p>
  <p>
    Please confirm your email address to finish setting up your account.  Click
    <a href={@url}>here</a> to verify your email.
  </p>
  <p>
    If you can't click the link above, you can copy/paste this URL into your browser:
  </p>
  <p>
    <a href={@url}>{@url}</a>
  </p>
  <p>
    If you did not sign up for a Malan account, you can safely ignore this email.
  </p>
</div>
