<div>
  <p>
    Hello {@user.first_name},
  </p>
  <p>
    Here's a new link to verify your Malan email address.  Click
    <a href={@url}>here</a> to verify your email.
  </p>
  <p>
    If you can't click the link above, you can copy/paste this URL into your browser:
  </p>
  <p>
    <a href={@url}>{@url}</a>
  </p>
  <p>
    If you did not request this email, you can safely ignore it.
  </p>
</div>
