<div>
  <p>
    Hello {@user.first_name},
  </p>
  <p>
    You recently changed your Malan email address to this one.  Click
    <a href={@url}>here</a> to confirm the change.
  </p>
  <p>
    If you can't click the link above, you can copy/paste this URL into your browser:
  </p>
  <p>
    <a href={@url}>{@url}</a>
  </p>
  <p>
    If you did not change your Malan email, please contact support immediately.
  </p>
</div>
