<div>
  <p>
    Hello <%= @user.first_name %>,
  </p>
  <p>
    You requested a password reset.  Please click <a href={@url}>here</a> and setup your new password.
  </p>
  <p>
    If you can't click the link above, you can copy/paste this URL into your browser:
  </p>
  <p>
    <a href={@url}><%= @url %></a>
  </p>
  <p>
    If you did not request a password reset, you can safely ignore this email.
  </p>
</div>
