<div>
  <p>
  You requested a password reset.  Your reset token is:  <%= @user.password_reset_token %>
  </p>
  <p>
  You can also click <a href="#{@url}">here</a>, or use this link:  <a href="#{@url}"><%= @user.url %></a>
  </p>
  <p>
    If you did not request a password reset, you can ignore this email.
  </p>
</div>
