<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @email.subject %></title>
  </head>
  <body>
    <div>
      <%# This doesn't actually render in most email clients including gmail %>
      <%# render(MalanWeb.PageHTML, "_ameelio_logo.svg", assigns) %>

      <%# Use web-hosted link instead %>
      <img src={MalanWeb.Endpoint.url() <> ~p"/images/ameelio-logo-113x22.png"} alt="Ameelio Logo" width="113" />
    </div>

    <%= @inner_content %>
  </body>
</html>
